name: deploy_website
on:
  push:
    branches:
      - add-mkdocs
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install Material for MkDocs
        run: pip install mkdocs-material
      - name: Deploy website
        run: mkdocs gh-deploy --force